git .main {
    position: relative;
    margin-top: 150px;
}

.main > .inner {
    height: 1500px;
    position: relative;
}

.main .kinds {
    position: absolute;
    top: 150px;
    height: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    text-align: center;
    white-space: nowrap;

}

.main .material-icons {
    height: 24px;
    font-size: 150px;
}

.main li {
    margin: 50px;
    width: 200px;
}

.main .skillset {
    margin-top: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    text-align: left;
}

.skillSetSpan::before { content: '\A'; white-space: pre; }

.main .hardware {
    margin-right: 80px;
    white-space: nowrap;
    border: 5px solid #1e5180;
    border-radius: 10px;
    padding: 15px;
}

.main .software {
    margin-right: 80px;
    white-space: nowrap;
    border: 5px solid #1e5180;
    border-radius: 10px;
    padding: 15px;
}

.main .network {
    margin-right: 80px;
    white-space: nowrap;
    border: 5px solid #1e5180;
    border-radius: 10px;
    padding: 15px;
}

.main .research {
    margin-right: 80px;
    white-space: nowrap;
    border: 5px solid #1e5180;
    border-radius: 10px;
    padding: 15px;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    border: 5px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }